<%- include('templates/header'); -%>
<body class="bgg">
    <%- include('templates/nav'); -%>
    <div class="container-fluid pt-5 pb-5 bgg">

        <div class="row ps-2 pt-5 pe-2 pb-5">
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h2 class="fs-3 p-3">Massas</h2>
                <div style="width:64%; margin-left: 18%;">
                    <ul class="list-group list-group-flush ps-3 pe-3 pt-3 pb-5">
                        <li class="list-group-item border-0 fs-5">Comum<b style="color:#C5453F;"> R$:9.88</b></li>
                        <li class="list-group-item border-0 fs-5">Integral<b style="color:#C5453F;"> R$:15.59</b></li>
                        <li class="list-group-item border-0 fs-5">Temperada<b style="color:#C5453F;"> R$:13.89</b></li>
                      </ul>
                </div> 
            </div>
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff  ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">Bordas</h1>
                <div style="width:64%; margin-left: 18%;">
                    <ul class="list-group list-group-flush ps-3 pe-3 pt-3 pb-5">
                        <li class="list-group-item border-0 fs-5">Cheddar<b style="color:#C5453F;"> R$:18.90</b></li>
                        <li class="list-group-item border-0 fs-5">Catupiry<b style="color:#C5453F;"> R$:10.79</b></li>
                        <li class="list-group-item border-0 fs-5">Chocolate<b style="color:#C5453F;"> R$:29.99</b></li>
                      </ul>
                </div> 
            </div>
        </div>
        <div class="row ps-2 pt-5 pe-2">
            <h1 class="text-center fs-1 pb-5 text-white">Sabores</h1>
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">4 Queijos</h1>
                <div style="width:64%; margin-left: 18%;">
                    <img class="img-fluid rounded-2 pb-5" src="https://paradisepizzaria.com.br/site/img/produtos/281842_1_g.png" alt="">
                      <h3 class="fs-3" style="color: #C5453F;">Valor: R$31.00</h3>
                </div> 
            </div>
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff  ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">Frango com Catupiry</h1>
                <div style="width:64%; margin-left: 18%;">
                    <img class="img-fluid rounded-2 pb-5" src="https://paradisepizzaria.com.br/site/img/produtos/281485_1_g.png" alt="">
                      <h3 class="fs-3" style="color: #C5453F;">Valor: R$33.86</h3>
                </div> 
            </div>
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">Calabresa</h1>
                <div style="width:64%; margin-left: 18%;">
                    <img class="img-fluid rounded pb-5" src="https://paradisepizzaria.com.br/site/img/produtos/281352_1_g.png" alt="">
                      <h3 class="fs-3" style="color: #C5453F;">Valor: R$35.90</h3>
                </div> 
            </div>
        </div>
        <div class="row ps-2 pe-2">
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">Lombinho</h1>
                <div style="width:64%; margin-left: 18%;">
                    <img class="img-fluid rounded-2 pb-5" src="https://paradisepizzaria.com.br/site/img/produtos/281492_1_g.png" alt="">
                      <h3 class="fs-3" style="color: #C5453F;">Valor: R$43.70</h3>
                </div> 
            </div>
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff  ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">Filé com Cheddar</h1>
                <div style="width:64%; margin-left: 18%;">
                    <img class="img-fluid rounded-2 pb-5" src="https://faciolipizzaria.pedzap.com.br/uploads/modules/itens/280115_foto.png" alt="">
                      <h3 class="fs-3" style="color: #C5453F;">Valor: R$55.90</h3>
                </div> 
            </div>
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">Portuguesa</h1>
                <div style="width:64%; margin-left: 18%;">
                    <img class="img-fluid rounded-2 pb-5" src="https://paradisepizzaria.com.br/site/img/produtos/281490_1_g.png" alt="">
                      <h3 class="fs-3" style="color: #C5453F;">Valor: R$36.90</h3>
                </div> 
            </div>
        </div>
        <div class="row ps-2 pe-2 pb-5">
            <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <h1 class="fs-2 p-3">Margherita</h1>
                <div style="width:64%; margin-left: 18%;">
                    <img class="img-fluid rounded pb-5" src="https://paradisepizzaria.com.br/site/img/produtos/281473_1_g.png" alt="">
                </div> 
                <h3 class="fs-3" style="color: #C5453F;">Valor: R$33.90</h3>
            </div>
        </div>
        
    </div>
      
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>