<%- include('templates/header'); -%>
<body class="bgg">
    <%- include('templates/nav'); -%>

    <div class="container h-100">
        <div class="row">
            <img src="" alt="">
        </div>
        <div class="row text-center">
            <h1 class="fs-1 text-white pt-5">Faça seu pedido já</h1>
            <div class="col-12 mt-5">
                <select class="form-select w-50 mx-auto m-5 mb-5 p-3" aria-label="Default select example">
                    <option selected>Massa</option>
                    <option value="1">Massa comum</option>
                    <option value="2">Massa integral</option>
                    <option value="3">Massa temperada</option>
                </select>
                <select class="form-select w-50 mx-auto mt-5 p-3" aria-label="Default select example">
                    <option selected>Borda</option>
                    <option value="1">Cheddar</option>
                    <option value="2">Catupiry</option>
                    <option value="3">Chocolate</option>
                </select>
                <select class="form-select w-50 mx-auto mt-5 mb-5 p-3" aria-label="Default select example">
                    <option selected>Sabores</option>
                    <option value="1">4 Queijos</option>
                    <option value="2">Frango com Catupiry</option>
                    <option value="3">Calabresa</option>
                    <option value="5">Lombinho;</option>
                    <option value="6">Filé com Cheddar</option>
                    <option value="7">Portuguesa</option>
                    <option value="8">Margherita</option>
                </select>
                
            </div>
            <div class="col-12 pt-5">
                <a href="/endereco"><button type="button" class="btn btn-dark px-5 p-3 mt-5">Próximo</button></a>
            </div>

            <!-- <div class="col-12 text-center custom-control custom-radio">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="custom-control-label" th:for="some id">4 Queijos</label>
            </div>
            <div class="col-12 text-center custom-control custom-radio">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="custom-control-label" th:for="some id">Frango com Catupiry</label>
            </div>
            <div class="col-12 text-center custom-control custom-radio">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="custom-control-label" th:for="some id">Calabresa</label>
            </div>
            <div class="col-12 text-center custom-control custom-radio">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="custom-control-label" th:for="some id">Lombinho</label>
            </div>
            <div class="col-12 text-center custom-control custom-radio">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="custom-control-label" th:for="some id">Filé com Cheddar</label>
            </div>
            <div class="col-12 text-center custom-control custom-radio">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="custom-control-label" th:for="some id">Portuguesa</label>
            </div>
            <div class="col-12 text-center custom-control custom-radio">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="custom-control-label" th:for="some id">Margherita</label>
            </div> -->
        </div>
    </div>

</body>
</html>