<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <title>Index</title>
</head>

<body class="bgg">
    <div class="pt-5">
        
    </div>
    <section class="login py-5">
        <div class="container pb-5" style="width: 80%; height: 50vh;">
            <div class="row row-login g-0 pb-5">
                <div class="col-lg-5">
                    <img src="/images/delivery.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-7 text-center">
                    <a href="/login"><button class="btn-login escpaco">login</button></a>
                    <a href="/cadastro"><button class="btn-cadastro mt-2">CADASTRE-SE</button></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>